<br />


<div class="alert alert-warning" role="alert" style="text-align:center">
    Your account is locked, please try again after sometime or you may
    <a asp-action="ForgotPassword" asp-controller="Account">
        reset your password by clicking here
    </a>
</div>