
<br />
<div class="alert alert-success col-8 mt-3 offset-2 " id="alert" role="alert">
    <h6 class="d-flex justify-content-center " style="text-align:center">
        If you have an account with us, we have sent an email
        with the instructions to reset your password.
    </h6>

</div>